@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./images/Oval\ Copy\ 33\ top.png), url(./images/Oval\ Copy\ 32\ bottom.png);
    background-repeat: no-repeat, no-repeat;
    background-position:  left top, right bottom;
    background-attachment: fixed;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}
/* fonts */
.FontSz18{
    font-size: 18px;
    font-weight: 700;

}
.card{
    padding: 147px 25px 146px 25px;
    display: grid;
    justify-content: center;
    
}
.box_background{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card_box{
    min-width: 90%;
    background-color: #FFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.caracter_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
.caracter{
    border: 5px solid #FFFF;
    border-radius: 50%;
    margin-bottom: 24px;
}
.name_age{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    gap: 8.5px;
}
.name,
.numbers{
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    color: #2E3349;
}
.age,
.living_space{
    font-size: 14px;
    font-weight: 400px;
    color: #6B7082;
    line-height: 22.32px;
}
.texts{
    font-size: 10px;
    line-height: 12.4px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #6B7082;
}
.line{
    margin-top: 28px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E8E9EC;
    width: 100%;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 52px 24px 41px;
}
.column{
    text-align: center;
}
.box_background{
    display: none;
}
@media (min-width: 1440px){
    body{
        background-image: url(./images/Oval\ Copy\ 30\ desktop_top.png), url(./images/Oval\ Copy\ 32\ desktop_\ bottom.png);
        background-repeat: no-repeat, no-repeat;
        background-position:  left top, right bottom;
        background-attachment: fixed;
        background-color: hsl(185, 75%, 39%);
    }
    .card{
        padding: 173px 545px 173px 545px;
    }
    .box_background{
        display: none;
    }
    .box_desktopbackground{
        display: flex;
    }
}
